*{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}
.first-section{
    position: relative;
    top: 0;
    left: 0;
    height: 2500px;
    background-image: url(images/photo-1476483547798-bf769a2cbba5.webp);
    background-repeat:no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
}
.logo{
    width: 28%;
    float: left;
    text-align: right;
    padding: 15px;
    color: burlywood;
    font-family: 'Tangerine', cursive;
    font-size: 38px;
   
}
.menu{
    width:40%;
    float: right;
    padding: 15px;
}
.menu ul{
    text-align: left;
}
.menu ul li{
    display: inline-block;
    padding: 10px 0px;
    margin-top: 26px;
}
.menu ul li a{
    text-decoration: none;
    padding:35px 15px;
   
    color: cornsilk;
    font-size: 20px;
}
.menu ul li a:hover{}

.content{
    background-color: rgba(163, 73, 73, 0.158);
    width:20%;
    padding: 75px;
    color: rgb(170, 143, 75);
    text-align: center;
    border-radius: 30px;
    box-shadow: 0 0 15px goldenrod;
    position: relative;
    top: 300px;
    left: 680px;
   
}
.button{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    width: 93%;
    /* background-color: grey; */
    margin-left:57px;
}
.about{
    background-color: grey;
    text-decoration: none;
    color:white;
    font-size: 18px;
    padding: 18px;
    border: 1px solid rebeccapurple;
    border-radius: 15px;
}
.about:hover{
    background-color: blue;
    animation: sn 3s;
}
.contact{
    background-color: grey;
    text-decoration: none;
    color:white;
    font-size: 18px;
    padding: 18px;
    border: 1px solid rebeccapurple;
    margin-right: 70px;
    border-radius: 15px;
}
.contact:hover{
    background-color: blue;
    animation: sn 3s;
}

.second-section{
    width: 50%;
    margin: 0 auto;
    /* margin-top: 150px; */
    padding-top: 20px;
    margin-bottom: 80px;
    position: relative;
    top: 500px;
    left: 0px;
    border: 2px solid rgb(59, 170, 107);
    padding: 22px;
    box-shadow: 0 0 30px gold;
    background-color: rgba(5, 5, 59, 0.185);
}
.second-section h2{
    color: cornsilk;
    font-size: 35px;
    text-align: center;
    border: 2px solid sienna;
    margin-bottom: 10px;

}
.second-section p{
    font-size: 21px;
    text-align: justify;
    line-height: 40px;
    color: darkgoldenrod;

}

.service-section{

    position: relative;
    top: 500px;
    left: 0px;

    
    margin-top: 60px;
    margin-bottom: 60px;
    
    height: 500px;
   
    
}
.service-section .box1,.box2,.box3{
    margin-left: 300px;
    
}
.service-section h2{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 450px;
    margin-right: 450px;
    color: cornsilk;
    border: 1px dotted burlywood;
}
.service-section h3{
    text-align: center;
    color: cornsilk;
    padding-top: 10px;
    padding-bottom: 10px;
}
.service-section p{
    color: rgb(226, 157, 72);
    font-size: 19px;
}
.box1{
    background-color: rgba(5, 5, 59, 0.185);
    
    float: left;
    height: 300px;
    width: 400px;
    margin: 29px;
    font-size: 17px;
    line-height: 27px;
    text-align: justify;
padding: 13px;
/* box-sizing: border-box; */
box-shadow: 0 0 40px rgb(197, 90, 90);
}
.box2{
    background-color: rgba(5, 5, 59, 0.185);
    float: left;
    height: 300px;
    width: 400px;
    margin: 29px;
    font-size: 17px;
    line-height: 27px;
    text-align: justify;
padding: 13px;
/* box-sizing: border-box; */
box-shadow: 0 0 40px rgb(190, 107, 107);
}
.box3{
    background-color: rgba(5, 5, 59, 0.185);
    float: left;
    height: 300px;
    width: 400px;
    margin: 29px;
    font-size: 17px;
    line-height: 27px;
    text-align: justify;
padding: 13px;
/* box-sizing: border-box; */
box-shadow: 0 0 40px rgb(197, 90, 90);
}
.contact-section{
    position: relative;
    top: 370px;
    /* bottom: 8px; */

    
    /* padding: 20px; */
    
}


} 

.contact-section h2{
    /* margin-top: 20px;
    text-align: center;
    color: blanchedalmond; */
   
}
.contact_box1{
    text-align: center;
   
    padding: 20px;
    box-shadow: 0 0 20px firebrick;
    width: 20%;
    height: 55px;
    justify-content: space-around;
    /* margin-top: 50px; */
    position: relative;
    top:110px;
    left: 320px;
    font-size: 18px;
    color: burlywood;

}

.contact_box2{
    position: relative;
    top:-60px;
    left: 1100px;
    
    padding: 7px;
    box-shadow: 0 0 20px firebrick;
    width: 25%;
    
    justify-content: space-around;
}
input{
    background-color: rgba(241, 89, 62, 0.349);
    color: white;
    width: 65%;
   height: 28px;
    /* margin-bottom: 3px; */
    padding-top: 3px;
    padding-left: 10px;
    border: 1px solid slateblue;
    border-radius: 10px;
    box-shadow: 0 0 15px brown;
    margin: 10px 30px;
}
textarea{
    background-color: rgba(241, 89, 62, 0.349);
    color: white;
    width: 65%;
   height: 70px;
    /* margin-bottom: 3px; */
    padding-top: 3px;
    padding-left: 10px;
    border: 1px solid slateblue;
    border-radius: 10px;
    box-shadow: 0 0 15px brown;
    margin: 10px 30px;

}
.copyright{
   
}
.copyright{
    position: relative;
    top:350px;
    
    /* margin-top: 120px; */
    color: rgb(209, 192, 159);
    text-align: center;
    font-size: 12px;
  
}
/* .extra-section{
    
    height: 400px;
    position: relative;
    top: 500px;
    text-align: center;
    color: white;
} */
@keyframes sn{
    0%{
        background: linear-gradient(blue,gray,crimson);
    }
    100%{
        background: linear-gradient(black,powderblue,seagreen);
        transform: scaleX(1.5);
    }
}